:root {
    --yellow: #fbae6b;
}

body {
    font-family: "Times New Roman", Times, serif;
    background-color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: white;
    text-shadow: 10px;
    padding: 15px;
    align-items: center;
    width: 100%;
    color: black; 
}

a {
    color: black;
    text-decoration: none;
}

nav {
    background-color: var(--yellow);
    align-items: center;
    padding: 20px;
    width: 100%;
}

nav a {
    margin: 0 1.5rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: white; 
}

.container {
    padding: 3rem;
    margin: 0 auto;
    color: black;
    max-width: 1200px; 
}

/* Tabs */
section {
    max-width: 1000px;
    box-shadow: 0 4px 8px var(--yellow);
    border-radius: 0; 
    color: black;
    border: 2px solid var(--yellow); 
}

.aboutMe, .services, .booking, .policies, .portfolio {
    color: black;
    padding: 20px;
    box-shadow: 0 4px 8px var(--yellow);
    border-radius: 0; 
    margin: 40px auto;
    border-color: var(--yellow);
}

.aboutMeContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}


.aboutMeText {
    width: 50%; 
    font-size: 22px;
    text-align: left;
}

.aboutMeText p {
    margin-bottom: 60px;
}

.aboutMeContent img {
    width: 500px; 
    height: auto;
    margin-left: 20px;
}

.contacts a {
    text-decoration: underline;
    color: var(--yellow);
}

.contacts {
    margin-top: 10px;
}

.portfolio img {
    width: 100%;
    max-width: 300px;
    margin: 0.5rem;
    border-radius: 8px;
    padding: 5px;
}


.portfolio {
    box-shadow: 0 4px 8px var(--yellow);
    margin: 0;
    margin-top: 20px;
}

.services a {
    text-decoration: underline;
    color: var(--yellow);
}

.aboutMe {
    display: flex;
}

.button-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    max-width: 900px; 
    margin: 30px auto; 
    color: var(--yellow);
}

.book-with-me-btn, .contact-me-btn {
    max-width: 60%; 
    margin: 35px; 
    color: var(--yellow);
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    margin-top: 0px;
}

.book-with-me-btn:hover, .contact-me-btn:hover {
    background-color: white;
    color: black;
}

.introPara{
    font-size: 20px;
    color: black;
    padding: 20px;
    box-shadow: 0 4px 8px var(--yellow);
    border-radius: 0; 
    margin: 0px auto;
    border-color: var(--yellow);
}

.services p {
    text-align: left;
}

ul {
    text-align: left;
}

.devTab {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px; 
    border-radius: 1px;
}


/* Form Section */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    text-align: left;
    font-size: 25px;
}

form input, form select, form button {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    font-size: 13px;
    border-radius: 5px;
    border: 2px solid var(--yellow);
    margin: 1rem 0;
}

form button {
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
}

form button:hover {
    background-color: white;
    color: var(--yellow);
}

/* Footer */
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--yellow);
  color: white;
  text-align: center;
}

footer h1 {
    margin: 0;
    color: white;
}

footer a {
    color: white;
}

.aboutMeFooter footer {
    position: fixed;
}

/* Hyperlinked Buttons */
.igLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
}

.igLogo img {
    width: 50px;
}
